<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<link rel="stylesheet" th:href="@{/header.css}">
<link rel="stylesheet" th:href="@{/init.css}">
<link rel="stylesheet" th:href="@{/footer.css}">
<body>

<div th:insert="~{fragments/header :: header}"></div>
<div class="wrapper">
<h2>login</h2>

<form method="post" action="/login">
    <label for="userId">User ID</label>
    <input type="text" id="userId" name="userId" required />

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />

    <button type="submit">Login</button>
</form>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>