<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div th:include="fragments/header :: header"></div>
<h2>login</h2>

<form action="/login" method="post">
    <label for="username">id:</label>
    <input type="text" name="userId" required /><br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" required /><br><br>

    <button type="submit">Login</button>
</form>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>