<!-- src/main/resources/templates/fragments/header.html -->
<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <header>
        <h1>Header Section</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <div sec:authorize="!isAuthenticated()">
                <a href="login">Login</a>
                <a href="/register">Register</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button type="submit">로그아웃</button>
                </form>
                <a href="post">
                    <button>글쓰기</button>
                </a>
            </div>
        </nav>
    </header>
</div>
